@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.grid {
    // @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // }
}

.book {
    text-align: left;
    /* media queries */
    @media (max-width: 767px) {
        text-align: center;
    }
    @media (max-width: 400px) {
        text-align: right;
    }
}

.book {
    background-image: linear-gradient(
        to right,
        rgb(210, 228, 210),
        rgb(179, 209, 224)
    );

    margin-left: 20px;
    margin-right: 20px;
}

.searcharea {
    background-color: rgb(138, 182, 233);
    margin-left: 20px;
    margin-right: 20px;
}
