@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.headerColor {
    background-color: rgb(95, 149, 211);
    height: 60px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.h1 {
    color: rgb(15, 52, 84);
    justify-content: center;
}

* {
    margin: 0;
}
